<div th:fragment="modalDestino">

    <div class="modal fade" id="modalDestino" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" >

                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Destino</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <form id="formDestino">
                    <div class="modal-body">

                        <input type="hidden" id="editId">

                        <div class="mb-3">
                            <label>Nome:</label>
                            <input type="text" id="nomeDestino" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label>Localização:</label>
                            <input type="text" id="localizacaoDestino" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label>Descrição:</label>
                            <textarea type="text" id="descricaoDestino" class="form-control"></textarea>
                        </div>

                        <div class="mb-3">
                            <label>Observação:</label>
                            <input type="text" id="observacaoDestino" class="form-control">
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" id="btnSalvarDestino" class="btn btn-primary">Salvar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>
